<app-auth-shell
  [title]="i18n.dict()[i18n.language].sign_in_title"
  [subtitle]="i18n.dict()[i18n.language].sign_in_subtitle">
  <form auth-form [formGroup]="form" (ngSubmit)="submit()">
        <label>{{ i18n.dict()[i18n.language].field_email }}</label>
        <input pInputText class="auth-input" type="email" formControlName="email" [placeholder]="i18n.dict()[i18n.language].placeholder_email" />
        <p class="form-error" *ngIf="hasError('email', 'required')">{{ i18n.dict()[i18n.language].email_required }}</p>
        <p class="form-error" *ngIf="hasError('email', 'email')">{{ i18n.dict()[i18n.language].email_invalid }}</p>

        <div class="field-row">
          <label>{{ i18n.dict()[i18n.language].field_password }}</label>
          <a class="forgot-link" href="#"><i class="pi pi-question-circle"></i> {{ i18n.dict()[i18n.language].forgot_password }}</a>
        </div>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          [placeholder]="i18n.dict()[i18n.language].placeholder_password"
          styleClass="auth-password"
          inputStyleClass="auth-input">
        </p-password>
        <p class="form-error" *ngIf="hasError('password', 'required')">{{ i18n.dict()[i18n.language].password_required }}</p>

        <p class="form-error" *ngIf="errorMessage">{{ errorMessage }}</p>

        <button
          pButton
          class="auth-btn"
          type="submit"
          [disabled]="loading"
          [loading]="loading"
          icon="pi pi-sign-in"
          iconPos="right">
          {{ loading ? i18n.dict()[i18n.language].auth_loading : i18n.dict()[i18n.language].sign_in_cta }}
        </button>
  </form>

  <p auth-footer class="switch-link">
        {{ i18n.dict()[i18n.language].no_account }}
        <a routerLink="/auth/sign-up">{{ i18n.dict()[i18n.language].sign_up_link }}</a>
  </p>
</app-auth-shell>
